@{
	ViewBag.Title = "Forgot Password Confirmation";
	Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div>
    <p>
        Please check your email to reset your password.
    </p>
	<p>
		To return to log in, @Html.ActionLink("click here", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
	</p>
</div>
	
